@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Nunito:wght@300&family=Roboto:wght@100;400&display=swap');

.elifText {
 font-family: 'Domine', serif;
 font-size: 4rem;
 line-height: 1em;
}

.subText {
 font-family: 'Roboto', serif;
}
