* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9a1f40;
}

.main-div {
  background-color: #9a1f40;
}

/* SIDE NAVBAR  */
.sidenav {
  height: 100%;
  background-color: #b24361;
  width: 60px;
}

.menu-container {
  background-color: #b24361 !important;
}

.menu-item {
  background-color: #b24361;
}


