* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #9a1f40;
  height: 100%;
}

.main-div {
  background-color: #9a1f40;
}

/* SIDE NAVBAR  */
.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b24361;
  width: 60px;
}

.menu-container {
  background-color: #b24361 !important;
}

.menu-item {
  background-color: #b24361;
}

