@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Nunito:wght@300&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #000;
}

/* SIDE NAVBAR  */
.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1a;
  width: 60px;
}

.navigationIconsContainer {
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style: none;
}

.menu-container {
  background-color: #393d3f !important;
}

.menu-item {
  background-color: #393d3f;
}

.navigationIconsContainer {
  text-align: center;
  
}

/* Home Page  */

.elifText {
  font-family: 'Domine', serif;
}
